.bounce {
  animation: bounce ease-in-out;
  animation-duration: 1s;
}

.box.animate {
  animation: bounce ease-in-out;
  animation-duration: 1s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
